#body{
  background-color: #1c2f3e;
  color: #fff;
  transition: 0.5s;
}

.body-over{
  background-color: #C60000 !important;
}

.Mtimer__ttl{
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  margin: 50px auto;
}
.Mtimer__ttl::after{
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: #8ac257;
  margin: 10px auto;
}
.Mtimer__message{
  width: 96%;
  max-width: 800px;
  margin: 15px auto;
  border: #fff dashed 2px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2%;
  font-size: 12px;
}
.Mtimer__message p{
  margin: 4px auto;
}
.Mtimer__timer_unit{
  background-color: #fff;
  color: #333;
  width: 96%;
  max-width: 800px;
  margin: 15px auto;
  border-radius: 5px;
  box-sizing: border-box;
}

.Mtimer__timer_unit-over{
}


.Mtimer__timer_item{
  position: relative;
  padding: 15px 10px;
}
.Mtimer__timer_item::before{
  content: "";
  display: block;
  height: 1px;
  width: 98%;
  background-color: #ddd;
  position: absolute;
  top: 0;
  right: 1%;
  left: 1%;
}
.Mtimer__timer_item:first-of-type::before{
display: none;
}
.Mtimer__timer_item_name{
  color: #999;
  font-size: 12px;
  width: 100%;
}
.Mtimer__timer_item_time{
  font-size: 28px;
  color: #333;
}
.Mtimer__timer_item_time-over{
  color: #C60000;
}
.Mtimer__timer_item_time-over::after{
  content: "Finish!!";
}
.Mtimer__timer-item_btn1{
  position: absolute;
  right: 120px;
  bottom: 10px;
  width: 100px;
  height: 28px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 900;
  background-color: #8ac257;
  color: #fff;
  cursor: pointer;
}
.Mtimer__timer-item_btn2{
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 100px;
  height: 28px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 900;
  border: #999 solid 2px;;
  box-sizing: border-box;
  color: #999;
  cursor: pointer;
}

.Mtimer__bonus{
  background-color: #fff;
  color: #333;
  width: 96%;
  max-width: 800px;
  margin: 15px auto;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px 10px;
}
.Mtimer__bonus_ttl{
  color: #999;
  font-size: 12px;
  margin-bottom: 6px;
}
.Mtimer__bonus_txt{
  font-size: 14px;
}
.Mtimer__bonus_txt p::before{
  content: "・";
}
